<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Relatório de Vendas</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1> {{ title }} </h1>
        </div>

        <div class="container">

            <table class="mt-5 table" v-if="salesByProduct">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(sale, index) in salesByProduct">
                        <td> #{{index + 1}} </td>
                        <td> {{sale.name}} </td>
                        <td v-money="'R$'"> {{sale.value}} </td>
                    </tr>
                </tbody>
                <tfoot>
                    <td> + </td>
                    <td> Total </td>
                    <td v-money="'R$'"> {{ getTotalPrice(salesByProduct) }} </td>
                </tfoot>
            </table>
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Qndt</th>
                        <th scope="col">Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="sale in sales">
                        <td> {{sale.id}} </td>
                        <td> {{sale.name}} </td>
                        <td v-money="'R$'"> {{sale.price}} </td>
                        <td> {{sale.qntd}} </td>
                        <td> {{sale.date}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        Vue.directive('money', {
            inserted(el, binding) {
                const amount = parseFloat(el.innerHTML).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, '$1.')
                el.innerHTML = `${binding.value} ${amount}`
            },

        })

       const app = new Vue({
            el: "#app",
            data: {
                title: "Relatório",
                sales: null
            },
            methods: {
                getSale: function () {
                    fetch('./data/sales.json')
                        .then(resp => resp.json())
                        .then(data => this.sales = data)
                },
                getTotalPrice: function (sales) {
                    if(!sales) return 0
                    return sales.reduce((total, sale) => total += sale.value, 0)
                }
            },
            computed: {
                salesByProduct () {
                    if(!this.sales) return

                    const salesByProduct = this.sales.reduce((group, sale) => {
                        if(!group.hasOwnProperty(sale.name)) {
                            group[sale.name] = {
                                name: sale.name,
                                value: sale.price * sale.qtde
                            }
                            return group
                        }
                        group[sale.name].value += sale.price * sale.qtde
                        return group
                    }, {})

                    return Object.values(salesByProduct)
                }
            },
            mounted() {
                this.getSale()
            }
       })
    </script>
</body>

</html>